/* GLOBAL */
*{box-sizing: border-box;}
html{font-size: 62.5%;}

body{
    color: black;
    font-size: 2rem;
}


ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

ul li{
    margin-right: 10px;
}

.separation div{
    width: 1rem;
    height: 1rem;
}
.separation{
    padding: 0 1rem 0 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

ul li div:nth-last-of-type(2){
    border-bottom: none;
}

ul div{
    border: solid grey 1px;
    width: 5rem;
    height: 5rem;
}